<head>
  <meta charset="UTF-8">
  <title>Pillar Art Gallery</title> 
  <link rel = "stylesheet" href="http://localhost:3001/css/main_template.css">
  <link rel = "stylesheet" href="http://localhost:3001/css/pillar.css">
  
</head>

<body>
  <div class = "template_frame">
  <div class = "roof_marker"></div>
  <div class = "floor_marker"></div>
  <div class = "center">
  <div class = "left_frame_bar" onmouseenter ="shiftLeft()" onmouseout="center()">
    <div class = "header_container">
    <h1>PILLAR</h1>
    <nav>
      <a href="http://localhost:3001/"> Home</a>
      <a href="http://localhost:3001/login"> Profile</a>
      <a href="http://localhost:3001/upload"> Post</a>
      </nav>
      </div>
    </div>  
    <div class = "focus">
      {{{ body }}}
    </div>
    <div class = "right_frame_bar" onmouseenter="shiftRight()" onmouseout="center()">
      <div class = "left side" ></div>
    </div>

    </div>
    </div>
</body>
<script src = "http://localhost:3001/javascript/main_template.js"></script>

</html>
