<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pillar Art Gallery</title>
  <link rel = "stylesheet" href="http://localhost:3001/css/main_template.css">
  <link rel = "stylesheet" href="http://localhost:3001/css/pillar.css">
  
</head>

<body class = "template_frame">
  <div class = "left_frame_bar">
    <h1> PILLAR</h1>
    <nav>
        <a href="http://localhost:3001/"> Home</a>
        <a href="http://localhost:3001/"> Profile</a>
        <a href="http://localhost:3001/"> Something</a>
    </nav>
  </div>

  <main>
    {{{ body }}}
  </main>

  <div class = "right_frame_bar">
     
  </div>
</body>

</html>
