<head>
  <meta charset="UTF-8">
  <title>Pillar Art Gallery</title> 
  <link rel = "stylesheet" href="../css/main_template.css">
  <link rel = "stylesheet" href="../css/pillar.css">
  <link rel="stylesheet" href="../css/flipCards.css">
  
</head>

<body>
  <div class = "template_frame">
  <div class = "roof_marker"></div>
  <div class = "floor_marker"></div>
  <div class = "center">
  <div class = "left_frame_bar" onclick ="shiftLeft()" >
    <div class = "header_container">
    <h1>PILLAR</h1>
    <nav>
      <a href="/"> Home</a>
      <a href="/login"> Profile</a>
      <a href="/upload"> Post</a>
      <a href="/register">Register</a>
      </nav>
      </div>
    </div>  
    <div class = "focus">
      {{{ body }}}
    </div>
    <div class = "right_frame_bar" onclick="shiftRight()">
      <div class = "left side" ></div>
    </div>

    </div>
    </div>
</body>
<script src = "../javascript/main_template.js"></script>

</html>
