
{{!-- THE PILLAR --}}

<<<<<<< HEAD
<button class="previous-button button">Previous</button>
  <div class="scene">
  <div class="carousel">
    <div class="carousel__cell"  data-placement = "upfront">1</div>
    <div class="carousel__cell" data-placement = "front" >2</div>
    <div class="carousel__cell" data-placement = "side"  >3</div>
    <div class="carousel__cell"  data-placement = "backside">4</div>
    <div class="carousel__cell reset"  data-placement = "backL">5</div>
    <div class="carousel__cell reset"  data-placement = "backR">6</div>
    <div class="carousel__cell"  data-placement = "backside">7</div>
    <div class="carousel__cell"  data-placement = "side">8</div>
    <div class="carousel__cell"  data-placement = "front">9</div>
=======

<div class = "show_room">
<div class = "pillar_container">
  
    <div class="scene">
    <div class="carousel">
      <div class="carousel__cell">1
        <div class = "image_container  " data-placement = "upfront"></div></div>
      <div class="carousel__cell">2
        <div class="image_container" data-placement = "front"></div></div>
      <div class="carousel__cell">3
        <div class= "image_container" data-placement = "side"></div></div>
      <div class="carousel__cell">4
        <div class = "image_container" data-placement = "backside"></div></div>
      <div class="carousel__cell">5
        <div class= "image_container reset" data-placement = "backL"></div></div>
      <div class="carousel__cell">6
        <div class = "image_container reset"  data-placement = "backR"></div></div>
      <div class="carousel__cell">7
        <div class = "image_container" data-placement = "backside"></div></div>
      <div class="carousel__cell">8
        <div class = "image_container" data-placement = "side"></div></div>
      <div class="carousel__cell">9
        <div class = "image_container" data-placement = "front"></div></div>
      </div>
    </div>
  <div class = "buttons_box">
    <div class="previous-button button"></div>
    <div class="next-button button"></div>
  </div>
  </div>
  <div class = "floor"></div>
>>>>>>> a8f0bff74556d512deaec72bb38ef567875bbeb9
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<<<<<<< HEAD
<script src = "../javascript/Trial_pillar.js"></script>
=======
<script src = "http://localhost:3001/javascript/pillar.js"></script>
>>>>>>> a8f0bff74556d512deaec72bb38ef567875bbeb9
