
{{!-- THE PILLAR --}}
<button class="previous-button button">Previous</button>
  <div class="scene">
  <div class="carousel">
    <div class="carousel__cell"  data-placement = "upfront">1</div>
    <div class="carousel__cell" data-placement = "front" >2</div>
    <div class="carousel__cell" data-placement = "side"  >3</div>
    <div class="carousel__cell"  data-placement = "backside">4</div>
    <div class="carousel__cell reset"  data-placement = "backL">5</div>
    <div class="carousel__cell reset"  data-placement = "backR">6</div>
    <div class="carousel__cell"  data-placement = "backside">7</div>
    <div class="carousel__cell"  data-placement = "side">8</div>
    <div class="carousel__cell"  data-placement = "front">9</div>
  </div>
</div>  
  <button class="next-button button">Next</button>
</p>
<script src = "http://localhost:3001/javascript/Trial_pillar.js"> </script>
