
{{!-- THE PILLAR --}}

=======

<div class = "show_room">
<div class = "pillar_container">
  
    <div class="scene">
    <div class="carousel">
      <div class="carousel__cell">
        <div class = "image_container  " data-placement = "upfront"></div></div>
      <div class="carousel__cell">
        <div class="image_container" data-placement = "front"></div></div>
      <div class="carousel__cell">
        <div class= "image_container" data-placement = "side"></div></div>
      <div class="carousel__cell">
        <div class = "image_container" data-placement = "backside"></div></div>
      <div class="carousel__cell">
        <div class= "image_container reset" data-placement = "backL"></div></div>
      <div class="carousel__cell">
        <div class = "image_container reset"  data-placement = "backR"></div></div>
      <div class="carousel__cell">
        <div class = "image_container" data-placement = "backside"></div></div>
      <div class="carousel__cell">
        <div class = "image_container" data-placement = "side"></div></div>
      <div class="carousel__cell">
        <div class = "image_container" data-placement = "front"></div></div>
      </div>
    </div>
  <div class = "buttons_box">
    <div class="previous-button button"></div>
    <div class="next-button button"></div>
  </div>
  </div>
  <div class = "floor"></div>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src = "../javascript/pillar.js"></script>
