
{{!-- THE PILLAR --}}


<div class = "show_room">
<div class = "pillar_container">
  
    <div class="scene">
    <div class="carousel">
      <div class="carousel__cell">1
        <div class = "image_container  " data-placement = "upfront"></div></div>
      <div class="carousel__cell">2
        <div class="image_container" data-placement = "front"></div></div>
      <div class="carousel__cell">3
        <div class= "image_container" data-placement = "side"></div></div>
      <div class="carousel__cell">4
        <div class = "image_container" data-placement = "backside"></div></div>
      <div class="carousel__cell">5
        <div class= "image_container reset" data-placement = "backL"></div></div>
      <div class="carousel__cell">6
        <div class = "image_container reset"  data-placement = "backR"></div></div>
      <div class="carousel__cell">7
        <div class = "image_container" data-placement = "backside"></div></div>
      <div class="carousel__cell">8
        <div class = "image_container" data-placement = "side"></div></div>
      <div class="carousel__cell">9
        <div class = "image_container" data-placement = "front"></div></div>
      </div>
    </div>
  <div class = "buttons_box">
    <div class="previous-button button"></div>
    <div class="next-button button"></div>
  </div>
  </div>
  <div class = "floor"></div>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src = "http://localhost:3001/javascript/pillar.js"></script>