:root{
    --mainwhite: rgb(255,228,196);
    --shadewhite: rgb(230,205,176);
    --darkerwhite: rgb(191,171,147);
    --darkestwhite: rgb(128,114,98);
}

.template_frame
{
    margin: 0 auto;
    max-width: 1820px;
    max-height: 910px;
    width: 100%;
    height: 910px ;
    border: 5px solid skyblue;
    background: linear-gradient(var(--darkerwhite)20%, var(--shadewhite), var(--mainwhite) , var(--shadewhite), var(--darkerwhite)20%);
}

.roof_marker
{
    position: absolute;
    width: 113.5em ;
    height: 150px;
    background-image: linear-gradient(var(--mainwhite), var(--darkerwhite), var(--darkestwhite), grey  );
}

.floor_marker
{
    height: 150px;
    margin-top: 760px;
    position: absolute;
    width: 113.5rem;
    border-top:10px darkslategrey;
    background-image: linear-gradient( var(--darkestwhite), var(--darkerwhite),  var(--mainwhite) );
}

.center
{

    position: absolute;
    width: 113.5em;
    background: gray 0.2;
    display: flex;
    justify-content: space-between;
}

.left_frame_bar
{
    width: 0px;
    height:610px;
    background: 0;
    display: flex;
    flex-direction: column;
    border-left: 200px solid  var(--darkestwhite );
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
    transition: all 1s  ease-in-out;

}



.header_container
{
    margin-left: -250px;
}

.focus
{
    z-index: 1000;
    align-self: center;
}

.right_frame_bar
{
    width: 0px;
    height:610px;
    background: 0;
    display: flex;
    justify-content: space-between;
    border-right: 200px solid var(--darkestwhite);
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
    transition: all 1s ease-in-out;
}





.upload_container
{
    height: 350px;
    border-radius: 20px;
    align-self: center;
    width: 600px;
}

nav {
    display:flex;
    flex-direction:column;
  }
  a {
 font-weight: bold;
 font-family: 'Courier New', Courier, monospace;
 width: 100px;
 transition: all .2s ease-in-out;
  }
  a:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: scale(1.1);
  }



